<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mynavigationapp">

    <!-- Permission to use vibration -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyNavigationApp">

        <!-- Loading Screen as Launcher -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main Compose Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Closing Activity -->
        <activity
            android:name=".ClosingActivity"
            android:exported="true" />

    </application>

</manifest>